html {
  overflow-y: hidden !important;
}

.content {
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0 1rem;
}

.main {
  overflow-x: hidden !important;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.router-outlet {
  height: 0vh !important;
}

.footer {
  margin: auto 0 0 0;
}
