<div class="main">
  <div class="title">
    <h1>Welcome!</h1>
    <hr>
    <h2>Explore an endless possibility of creation and wonder, augmented by artificial intelligence.</h2>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="info-section">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>
