<div class="main">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-around">
        <div class="navbar-nav">
          <a class="nav-link mx-3" routerLink="landing-page" routerLinkActive="active-link">
            &nbsp;Home</a>
        </div>

        <div class="navbar-nav">
          <a class="nav-link mx-3" routerLink="login" routerLinkActive="active-link">
            &nbsp;World Generator</a>
        </div>

        <div class="navbar-nav">
          <a class="nav-link mx-3" routerLink="about" routerLinkActive="active-link">
            &nbsp;View World Parameters</a>
        </div>

        <div class="navbar-nav">
          <a class="nav-link mx-3" routerLink="settings" routerLinkActive="active-link">
            &nbsp;Character Creation</a>
        </div>

        <div class="navbar-nav">
          <a class="nav-link mx-3" routerLink="settings" routerLinkActive="active-link">
            &nbsp;My Saved Worlds</a>
        </div>
      </nav>
    </div>
  </div>
</div>
