a {
  font-size: 20px;
  text-align: center;
  color: #00d0ff;
}

a:hover {
  color: #00ffae;
  transition: 1.25s;
}

.main {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
}


.navbar {
  padding: 0 0 0 30px !important;
  margin-left: -15px;
  margin-right: -15px;
  border: solid;
  border-color: white;
  border-width: thin;
}
